h1{
    background-color: white;
    color: black;
    text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 40px
}
img{
    object-position: left; height: 170px; width: 140px;

}
body{
    background-color: rgb(252, 160, 249);
}
h3{
    background-color: black;
    text-align: center; color: white;
    font-family: Arial, Helvetica, sans-serif; font-size: 16;
    font-weight: normal;
}
h5{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   line-height: 1.5em;
}

.box-1{
    background-color: orchid
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 14
}
.container{
    border-right: 20px red solid;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25;
    font-weight: bold;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15
}

.box-2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16; color: black;
    font-weight: normal;
}

.box-3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16; color: black;
    font-weight: normal;
}

.box-4{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16; color: black;
    font-weight: normal;
}

.box-5{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16; color: black;
    font-weight: normal;
}

.box-6{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16; color: black;
    font-weight: normal;
}